.author-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10vw; /* Adjust as needed */
    padding: 0 4vw;
  }  

.author-form{
    width: 50%;
    border: 1px solid rgb(206, 205, 205);
    border-radius: 10px;
    color: rgb(46, 46, 46);
    box-shadow: 1px 1px gray;
    padding-bottom: 2vw;
}

.author-form h2{
    text-align: left;
    padding-left: 1vw;
    margin: 0;
    padding-top: 0.5vw;
}

.blog-image{
    height: 20vw;
    max-width: 80%;
    max-height: 40%;
}

.title{
    width: 80%;
    border-radius: 5px;
    margin: 1vw;
    border: 1px solid rgb(183, 181, 181);
    padding: 1vw;
    font-size: 1.2vw;
}

.author-textarea{
    border: none;
    font-size: 1.2vw;
    color: #664d06;
    width: 100%;
    outline: 1px solid rgb(183, 181, 181);
    border-radius: 5px;
    padding: 1vw;
    width: 80%;
    resize: none;
    display: block;
    margin: auto;
    margin-bottom: 1vw;
}

.extra{
    width: 85%;
    margin: auto auto 1vw;
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.choose-tags{
    width: 100%;
    margin: auto;
    margin-bottom: 2vw;
}

.publish-button{
    margin: 2vw auto;
    height: 3vw;
}

.preview{
    width: 495px;
    height: 561px;
}

.choose-tags .MuiAutocomplete-root {
    width: 84%;
    margin: auto;
  }
  
  .choose-tags .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
    flex-wrap: wrap; /* Ensure the tags wrap to the next line */
    height: auto;
  }
  
  .choose-tags .MuiAutocomplete-tag {
    margin: 2px; /* Optional: Add some margin between tags */
  }
  
  .choose-tags .MuiAutocomplete-inputRoot {
    display: flex;
    align-items: flex-start; /* Ensure the input aligns properly */
  }
  
  .choose-tags .MuiAutocomplete-input {
    flex-grow: 1; /* Ensure the input takes the remaining space */
  }

@media screen and (max-width: 650px)
{
    .author-container {
        display: block;
        margin-top: 20%; /* Adjust as needed */
        padding: 0 4vw;
    }  
    
    .author-form{
        width: 80%;
        margin: auto;
        padding-bottom: 4%;
    }
    
    .author-form h2{
        font-size: 130%;
    }
    
    .blog-image{
        height: 50vw;
        max-width: 100%;
        max-height: 80%;
    }
    
    .title{
        width: 80%;
        border-radius: 5px;
        margin: 1vw;
        border: 1px solid rgb(183, 181, 181);
        padding: 1vw;
        font-size: 100%;
    }
    
    .author-textarea{
        font-size: 100%;
    }
    
    
    .extra{
        width: 83%;
        margin: 1vw auto 1vw;
        text-align: left;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;
    }

    #add-image-button{
        height: auto;
        text-wrap:wrap;
        width: 50%;
        height: 11vw;
    }

    #add-image-label{
        visibility: hidden;
        font-size: 0;
    }

    #add-a-photo-icon{
        display: inline;
        margin: 0;
        padding: 0;
        width: 100%;
        visibility:visible;
    }

    .choose-tags{
        width: 100%;
        margin: auto;
        margin-bottom: 5%;
    }

    .publish-button{
        height: 10%;
        margin: 1vw;
    }    
    
    .preview{
        width: 90%;
        height: 561px;
        margin: auto;
        margin-bottom: 20%;
    }
}