.postBox{
    display: inline-block;
    width: 90%;
    background-color: aliceblue;
    object-fit: cover;
    box-shadow: 0 1px 3px 0 #d4d4d4;
}

.post-image{
    width: 100%; 
    height: 30vh;
    overflow: hidden;
    position: relative;
}

.post-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.img-icon-link{
    position: absolute;
    top: 10px;    
    right: 10px;   
    color: white;  
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%; 
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-icon {
    font-size: 24px; /* Adjust size as necessary */
}


.post-content{
    padding: 2%;
    text-align: left;
    position: relative;
}

.post-edit{
    position: relative;
    text-align: center;
    height: 2vw;
}

.post-author{
    float: left;
}

.changePost{
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.post-date{
    float: right;
}

.post-content h1{
    font-size: 1.5vw;
}

.post-name{
    position: relative;
}

.detail-link{
    position: absolute;
    right: 0;
    bottom: 0;
}

.post-content p{
    font-size: 0.8vw;
    display: inline-block;
}

.tags p{
    display: inline-block;
    margin-right: 1vw;
    border: 1px solid rgb(169, 168, 168);
    border-radius: 5px;
    padding: 2px 4px;
}

@media screen and (max-width: 700px)
{
    .post-image{
        width: 100%; 
        height: 30vh;
        overflow: hidden;
        position: relative;
    }

    .img-icon {
        font-size: 24px; /* Adjust size as necessary */
    }
    
    
    .post-content{
        padding: 4%;
        text-align: left;
        position: relative;
    }
    
    .post-edit{
        position: relative;
        text-align: center;
        height: 2vw;
    }
    
    .post-author{
        float: left;
    }
    
    .changePost{
        display: inline-block;
        position: relative;
        cursor: pointer;
    }
    
    .post-date{
        float: right;
    }

    .post-name{

    }
    
    .post-name h1{
        display: inline-block;
        font-size: 140%;
        margin-top:10%;
    }
    
    .detail-link{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    
    .post-content p{
        font-size: 120%;
        display: inline-block;
        font-weight: 500;
    }
    
    .tags p{
        display: inline-block;
        margin-right: 1vw;
        border: 1px solid rgb(169, 168, 168);
        border-radius: 5px;
        padding: 2px 4px;
    }
    
}
