.banner{
    height: 20vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    margin-bottom: 5vw;
    position: relative;
    background-color: rgb(245, 245, 245);
}

.banner-heading{
    font-weight: lighter;
    font-size: 5vw;
}

.top-left{
    position: absolute;
    top: 3vw;
    left: -2vw;
    animation-delay: 0.3s;
}

.bottom-left{
    position: absolute;
    bottom: 3vw;
    left: -6vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    animation-delay: 0.3s;
}

.top-right{
    position: absolute;
    top: 3vw;
    right: -2vw;
    animation-delay: 0.3s;
}

.bottom-right{
    position: absolute;
    bottom:3vw;
    right: -2vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    animation-delay: 0.3s;
}

.banner-img{
    margin: 1vw;
    border-radius: 20%;
    margin-right: 0;
    animation: fadeInMove 1s forwards;
}

@keyframes fadeInMove {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }