.navBody{
    top: 0;
    position: fixed;
    width: 100%;
    margin-bottom: 2vw;
    background-color: white;
    height: 10vh;
    z-index: 10;
    box-shadow: 0 1px 3px 0 #939393;
}

.topColor{
    height: 0.5vw;
    background: linear-gradient(to right, #ffeb3b, #ff5722, #2196f3, #9c27b0);
    width: 100%;
}

.mainDiv{
    padding-top: 1vw;
    text-align: center;
}

.website-name{
    margin-left: 1vw;
    float: left;
}

.website-name button{
    border: none;
    background-color: transparent;
    font-style: italic;
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
}

.categories{
    display: inline-block;
}


.categories ul {
    list-style-type: none;
    display: flex;
    gap: 1vw;
    padding: 0;
    margin: 0;
}

.categories button{
    border: none;
    background-color: transparent;
    font-size: 1vw;
}

.categories button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.author{
    text-transform: none;
}

.search{
    float: right;
    margin-right: 2vw;
}

.search-button{
    cursor: pointer;
    border: none;
    background-color: transparent;
    margin:0;
}

.search-button img{
    width: 2vw;
}
