.navBody{
    top: 0;
    position: fixed;
    width: 100%;
    margin-bottom: 1vw;
    background-color: white;
    height: 10vh;
    z-index: 10;
    box-shadow: 0 1px 3px 0 #939393;
}

.topColor{
    height: 0.5vw;
    background: linear-gradient(to right, #ffeb3b, #ff5722, #2196f3, #9c27b0);
    width: 100%;
}

.mainDiv{
    padding-top: 1vw;
    text-align: center;
}

.website-name{
    margin-left: 1vw;
    float: left;
}

.website-name button{
    border: none;
    background-color: transparent;
    font-style: italic;
    font-size: 2vw;
    font-weight: bold;
    cursor: pointer;
}

.categories{
    display: inline-block;
}


.categories ul {
    list-style-type: none;
    display: flex;
    gap: 1vw;
    padding: 0;
    margin: 0;
}

.categories button{
    border: none;
    background-color: transparent;
    font-size: 1vw;
}

.categories button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.author{
    text-transform: none;
}

.navbar-right{
    float: right;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    margin-right: 2vw;
}

.notifications{
    margin: auto;
    margin-right: 1vw;
}

.notifi-box{
    width: 30%;
    margin: 0 1vw 1vw auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 #bfbebe;
    padding: 0;
    overflow: hidden;
}

.notification-top{
    padding: 1vw 0.5vw;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    border-bottom: 2px solid lightgray;
}

.notification-top h1{
    font-size: 1.3vw;
    margin: 0 35% 0 1vw;
}

.notification-top p{
    font-size: 0.9vw;
    color: rgb(0, 68, 255);
    display: inline-block;
    margin: 0;
    cursor: pointer;
}

.notifis{
    background-color: aliceblue;
    max-height: 20vw;
    overflow-y: scroll;
}

.incoming-notification{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    text-align: left;
    padding: 1vw;
    border-bottom: 1px solid lightgray;
}

.incoming-name{
    margin: 0;
}

.incoming-time{
    margin: 0;
    margin-top: 0.2vw;
    opacity: 0.7;
    font-size: 0.9vw;
    font-weight: 500;
}



